@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #fafafa;
    --secondary-color: #323332;
    --tertiary-color: #757575;
}

html {
    scroll-behavior: smooth;
    max-width: 968px;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.8rem;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 968px;
    background-color: var(--primary-color);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    padding: 0;
    height: 5rem;
}

.openbtn,
.sidepanel,
#nav-small {
    display: none;
}

.name p {
    font-size: 1.3rem;
    font-weight: 500;
}

.links a {
    margin: 0 1rem;
}

.box {
    margin: 8rem 0 2rem;
    padding-top: 5rem;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.socials {
    width: 13%;
}

.home-text {
    width: 47%;
}

.home-pic {
    width: 40%;
}

.home-pic img {
    width: 100%;
    border-radius: 50%;
}

.home-text-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-text h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

.home-text-title img {
    width: 40px;
    margin-right: 1rem;
}

.home-text-subtitle {
    padding-left: 3rem;
    font-weight: 300;
    position: relative;
}

.home-text-subtitle::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: black;
    top: 1rem;
    left: 0;
}

.home-text h3 {
    font-weight: 500;
    margin: 0;
}

.home-text p {
    font-weight: 400;
    max-width: 400px;
    font-size: 1rem;
    color: var(--tertiary-color);
    text-align: justify;
}

button {
    background-color: rgb(56, 53, 53);
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.socials img {
    width: 25px;
    margin: 0.5rem;
}

.more {
    animation: updown 1.4s infinite;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.home-pic img {
    animation-name: blobby;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    mix-blend-mode: luminosity;
    border: #919491 10px solid;
}

@keyframes blobby {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

/* @keyframes blobby {
    0% {
        border-radius: 54% 46% 60% 40% / 43% 55% 45% 57%;
    }

    10% {
        border-radius: 48% 52% 41% 59% / 44% 56% 54% 50%;
    }

    20% {
        border-radius: 44% 56% 54% 50% / 53% 51% 49% 47%;
    }

    30% {
        border-radius: 43% 57% 41% 59% / 53% 52% 48% 47%;
    }

    40% {
        border-radius: 43% 57% 41% 59% / 54% 56% 54% 50%;
    }

    50% {
        border-radius: 41% 52% 41% 59% / 53% 51% 49% 47%;
    }

    60% {
        border-radius: 44% 56% 54% 50% / 53% 41% 49% 47%;
    }

    70% {
        border-radius: 48% 52% 41% 59% / 48% 58% 42% 52%;
    }

    80% {
        border-radius: 54% 56% 54% 50% / 48% 58% 42% 52%;
    }

    90% {
        border-radius: 44% 56% 54% 50% / 53% 45% 42% 51%;
    }

    100% {
        border-radius: 54% 46% 60% 40% / 43% 55% 45% 57%;
    }
} */

#about {
    margin-top: 10rem;
}

.about-title {
    text-align: center;
}

.about-title h1 {
    color: var(--secondary-color);
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
}

.about-title p {
    color: var(--tertiary-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.about-content:first-of-type div,
.about-content:last-of-type div {
    width: 100%;
}

.about-content-text {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.about-content-pic {
    width: 80%;
    border-radius: 10%;
}

.about-text {
    color: var(--tertiary-color);
}

.about-boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.about-box {
    padding: 0.7rem 0.4rem;
    margin: 0.5rem;
    border: 0.8px solid #d4d0d0;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-box img {
    width: 35px;
    margin-bottom: 0.5rem;
}

.about-box h6 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.about-box p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    color: var(--tertiary-color);
    text-align: center;
}

#skills {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-title {
    text-align: center;
}

.skills-title h1 {
    color: var(--secondary-color);
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
}

.skills-title p {
    color: var(--tertiary-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.skills-box {
    background-color: #fff;
    padding: 0.8rem 1rem;
    margin: 0.5rem;
    border: 0.8px solid #d4d0d0;
    border-radius: 10px;
    width: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 42px 22px 24px #0000001a;
}

.skills-box img {
    width: 20px;
    margin-right: 0.4rem;
}

.skills-box h4 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0.7rem;
}

.skill-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.skill-box-left,
.skill-box-right {
    width: 50%;
}

.skill {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.5rem;
}

.skill h5 {
    margin: 0;
    color: var(--secondary-color);
    font-weight: 500;
}

.skill p {
    margin: 0;
    color: var(--tertiary-color);
    font-size: 0.7rem;
    font-weight: 400;
}

#projects {
    margin-top: 10rem;
}

.projects-title {
    text-align: center;
}

.projects-title h1 {
    color: var(--secondary-color);
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
}

.projects-title p {
    color: var(--tertiary-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.projects-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 3rem;
    width: 100%;
}

.project-box {
    background-color: #fff;
    padding: 0rem;
    padding-bottom: 1rem;
    margin: 0.5rem;
    border: 0.8px solid #d4d0d0;
    border-radius: 10px;
    width: 29%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 42px 22px 24px #0000001a;
}

.project-box img {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.project-box h4 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem;
}

.project-box p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0 0 1rem 0.5rem;
    color: var(--tertiary-color);
}

.project-box a {
    background-color: rgb(56, 53, 53);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0.4rem;
    font-size: 0.8rem;
    text-decoration: none;
}

#experience {
    margin-top: 10rem;
}

.experience-title {
    text-align: center;
}

.experience-title h1 {
    color: var(--secondary-color);
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
}

.experience-title p {
    color: var(--tertiary-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.experience-container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 3rem;
    width: 100%;
}

.experience {
    background-color: #fff;
    padding: 1rem;
    margin: 0.5rem;
    border: 0.8px solid #d4d0d0;
    border-radius: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 42px 22px 24px #0000001a;
}

.experience h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0.5rem;
}

.experience h4,
h5 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: var(--tertiary-color);
}

.experience p {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 1rem 0 0 0;
    text-align: justify;
    padding: 0 1rem;
    color: var(--tertiary-color);
}

.experience hr {
    width: 80%;
    margin: 1rem 0;
}

#achievements {
    margin: 10rem 0;
}

.swiper {
    width: 800px;
    height: 600px;
}

.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

@media screen and (min-width:0px) and (max-width:425px) {

    /* body {
        padding: 0 2rem;
    } */

    nav {
        display: none;
    }

    #nav-small {
        position: fixed;
        top: unset;
        bottom: 0;
        width: 100%;
        background-color: var(--primary-color);
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: inherit;
        padding: 0;
        height: fit-content;
        box-shadow: 0 -2px 4px #0000001a;
        border-radius: 1rem 1rem 0 0;
    }

    .name p {
        margin: 0.2rem 0;
        margin-left: 1.5rem;
    }

    .openbtn,
    .sidepanel {
        display: flex;
        flex-direction: column;
    }

    /* The sidepanel menu */
    .sidepanel {
        height: 0;
        /* Specify a height */
        width: 100%;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        bottom: 0;
        left: 0;
        background-color: #fff;
        /* Black*/
        overflow-x: hidden;
        text-align: center;
        /* Disable horizontal scroll */
        /* padding-top: 60px; */
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidepanel */

        box-shadow: 0 -2px 4px #0000001a;
        border-radius: 1rem 1rem 0 0;
    }

    /* The sidepanel links */
    .sidepanel a {
        padding: 0;
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;
        color: var(--secondary-color);
        display: block;
        transition: 0.3s;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 30%;
    }

    .sidepanel a img {
        margin-top: 0.6rem;
        width: 20px;
    }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        bottom: 0;
        right: 22px;
        font-size: 30px;
        margin-left: 50px;
    }

    .panel-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 1rem 0;
    }

    /* Style the button that is used to open the sidepanel */
    .openbtn {
        margin-right: 1.6rem;
        background-color: transparent;
        padding: 0.3rem;
    }

    .openbtn img {
        display: block;
        width: 20px;
    }

    .active {
        height: 40% !important;
    }

    .links {
        display: none;
    }

    .box {
        margin: 4rem 2rem;
        padding-top: 0;
    }

    #home {
        flex-direction: column-reverse;
        height: 85vh;
    }

    .socials,
    .home-text,
    .home-pic {
        width: 100%;
        text-align: center;
    }

    .home-pic img {
        width: 90%;
    }

    .home-text-title {
        justify-content: center;
    }

    .home-text-title h1 {
        font-size: 2.2rem;
    }

    .home-text-subtitle {
        padding-left: 0;
    }

    .home-text-subtitle h3 {
        font-size: 1rem;
    }

    .home-text-subtitle::before {
        display: none;
    }

    button {
        margin-top: 0;
    }

    .socials {
        margin: 1rem 0;
        flex-direction: row;
        justify-content: center;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-content-pic {
        width: 100%;
    }

    .about-content-text {
        padding: 0;
        align-items: center;
        text-align: center;
    }

    .about-boxes {
        flex-direction: column;
        align-items: center;
    }

    .about-text p {
        text-align: justify;
    }

    .skills-content {
        flex-direction: column;
    }

    .skills-box {
        width: 90%;
    }

    .projects-content {
        flex-direction: column;
        align-items: center;
    }

    .project-box {
        width: 90%;
    }

    #experience {
        padding: 0;
        width: 100%;
    }

    .experience-container {
        flex-direction: column;
        justify-content: center;
        padding: 0rem;
        margin: 0;
    }

    .experience {
        width: auto;
        margin: 1rem 1.5rem;
    }

    #achievements {
        margin: 5rem 1.5rem;
        text-align: center;
    }

    #achievements h1 {
        font-size: 2.5rem;
    }

    .swiper {
        border: 1px solid #323332;
        width: 100%;
        height: calc(100vw - 115px);
    }

}